<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    <h1>ADD USER</h1>
    <form action="/submit_user" method="POST">
       {% csrf_token %}
    <label>USERNAMES</label>
    <input type="text" name="user_name" value="">
    <input type="submit">
    </form>        

</body>
</html>